doctype html
html
    head
        meta(charset="utf-8")
        title Hello World!

        //fonts
        link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
        link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="../css/test.css")

        // Compiled and minified JavaScript
        script(src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous")
        script(src="../script/app.js")
    body
        div#container.box

            .row.header
                section.left.animated.fadeInUp
                    span
                        p Robin Edbom
                    span
                        p Lite Mindre text här

                span.right.animated.fadeInUp.fa.fa-phone +46 722-426155


            .row.content#content
                aside#navbar.animated.fadeInUp
                    nav
                        ul
                            li.active 01
                            li 02
                            li 03
                            li 04
                article
                    section#placeHolder.animated.fadeInUp
                        p Brobygrafiska Utbildning
                        p Visuell grafisk kommunikatör

            footer.row.footer
                section
                    span.left.animated.fadeInUp
                        p
                            i.fa.fa-envelope
                            | Robin.edbom@gmail.com
                    span.right.animated.fadeInUp
                        p fram | fortsätt
                            i.fa.fa-arrow-circle-right.gold






